<!DOCTYPE html>
<html lang="es">
<head><meta charset="UTF-8"><title>Registrar</title></head>
<body>
  <h2>Registro de Alumno</h2>
  {% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}
      <ul>
      {% for cat,msg in msgs %}<li class="{{cat}}">{{msg}}</li>{% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="" method="post">
    CURP: <input name="curp"><br>
    Nombre: <input name="nombre"><br>
    <button type="submit">Generar QR</button>
  </form>
</body>
</html>
