<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Alumno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Datos del Alumno</h2>
        <form action="/registrar_alumno" method="POST">
            <label for="curp">CURP:</label>
            <input type="text" name="curp" required>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required>
            <button type="submit">Registrar</button>
        </form>
        <a href="/">Volver al inicio</a>
    </div>
</body>
</html>
